$primary: #651c1c;

$steps-completed-color: $primary;
$steps-active-color: $primary;

@import "bulma-0.8.2/bulma.sass";
@import "bulma-o-steps/bulma-steps.sass";

$top-bar-height: 56px;
$side-bar-width: 15em;

html {
  background-color: #f0f3f5;
}

.steps-marker {
  background-color: red;
}

.top-bar {
  color: #651c1c;
  background-color: #f0f3f5;
  text-transform: uppercase;
  padding: 0.5em 1em;
  height: $top-bar-height;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: solid;
  display: flex;

  .button {
    margin-left: 1em;
  }
}

.spacer {
  flex-grow: 1;
}

.steps-menu {
  margin: 1em;
  position: fixed;
  top: $top-bar-height;
  width: $side-bar-width;
  height: 100vh;
  min-height: 200px;
  overflow: auto;

  .steps-header {
    padding-bottom: 1em;
  }
}

.main-container {
  padding-top: $top-bar-height;
  margin-left: 4rem;
  margin-right: 4rem;
  min-height: 90vh;
}

.step-container {
  padding-top: $top-bar-height;
  padding-left: $side-bar-width;
  min-height: 90vh;
}

.main-content {
  padding: 1em;
}

.button-bar {
  padding: 1em;
}

.tutorial-step {
}

footer {
  width: 100%;
  text-align: center;
}
